.tasks {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;

    &.done .tasks__text {
      text-decoration: line-through;
      color: #999;
    }
  }

  &__btn {
    padding: 4px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: transparent;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
      border-color 250ms ease-in-out;
    margin-top: 10px;
    text-decoration: none;

    &--done:hover {
      background-color: green;
      color: #fff;
      border-color: green;
    }
    &--del:hover {
      background-color: red;
      color: #fff;
      border-color: red;
    }
  }
}

.add-item-btn {
  display: block;
  margin: 20px auto 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #0056b3;
  }
}

.add-item-input {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
